#save-btn {
  padding: 5px;
  width: 150px;
  height: 40px;
  border: 1px;
  background-color: green;
  color: white;
}

#cell-num {
  font-size: large;
}

.cell-row {
  display: flex;
}
.cell {
  width: 80px;
  border: 1px solid lightgray;
  height: 40px;
  outline: none;
  box-sizing: border-box;
}
.cell.header {
  text-align: center;
  background: #ddd;
}
.cell.header.active {
  background: lightblue;

  color: white;
}
.cell:focus {
  border: 3px solid lightblue;
}
.cell-number{
  font-size: 20px;
}
#cell-status{
  font-weight: bold;
}